body {
    background: linear-gradient(to bottom, #d1a8ff, #a0ffa0);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Faustina", serif;
}

#main-canvas {
    display: block;
    margin: 0 auto;
}

.volume-container, .pan-container {
    height: 50px;
    position: relative;
    text-align: center;
    display: flex;
}

.volume-container label, .pan-container label {
    flex: 0 0 55%;
}

#volume, #panning {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    background: linear-gradient(to right, #2196f3 50%, #ddd 50%);
    outline: none;
    transition: background .3s;
}

.rate-container {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 20px;  
    padding-bottom: 40px;  
}

.change-rate-text {
    position: relative;
}

#right-arrow, #left-arrow {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
}

#right-arrow {
    top: 100%;
    right: 45%;
}

#left-arrow {
    top: 100%;
    left: 45%;
}

#right-arrow:hover, #left-arrow:hover {
    cursor: pointer;
}

/* Thumb for WebKit (Chrome, Safari) */
#volume::-webkit-slider-thumb, #panning::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
  margin-top: -5px;
  border: none;
}

/* Thumb for Firefox */
#volume::-moz-range-thumb, #panning::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2196f3;
  border: none;
  cursor: pointer;
}

/* Firefox track background (we'll override with JS anyway) */
#volume::-moz-range-track, #panning::-moz-range-track {
  height: 10px;
  background: none;
}

#drop-zone {
    border: 2px solid blue;
    width: 220px;
    height: 60px;
    margin: 0 auto 12px;
}

#drop-zone p {
    text-align: center;
}

#drop-zone.highlight {
    border-style: dashed;
    border-color: greenyellow;
}

.play-button {
    display: block;
    background-color: green;
    width: 120px;
    height: 50px;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 8px;
}

.play-text {
    text-align: center;
    font-size: 16px;
}
