#main-canvas {
    display: block;
    margin: 0 auto;
}

#drop-zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

#drop-zone.highlight {
    border-style: dashed;
    border-color: greenyellow;
}

#volume {
    border-radius: 5px;
    height: 100px;
}